.imageFull {
  position: relative;
}
.imageFull::after {
  content: '';
  position: absolute;
  background-image: url(/images/Blog-Hero-Nexus-PMG-1-1024x683.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.loginForm {
  padding: 6% 20% 15%;
}

.heightVh {
  height: 100vh;
}

@media (max-width: 1440px) {
  .loginForm {
    padding: 10% 10% 0%;
  }
}
@media (max-width: 991px) {
  .loginForm {
    padding: 6%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background-color: #fff;
    margin: 30px 20px;
  }
  .dNone {
    display: none !important;
  }
  .imageFull {
    display: none;
  }
  .heightVh {
    height: auto;
  }
  .imgShowMobile {
    background-image: url(/images/Blog-Hero-Nexus-PMG-1-1024x683.png);
    background-repeat: no-repeat;
    padding: 60px 0px;
    background-size: cover;
  }
}
