/* .loginFullWidth {
  background-color: white;
  height: 100vh;
} */
.heightCover {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formData {
  width: 490px;
  margin: 0 auto;
}
.fullImageLogin {
  background-image: url(/images/jpg.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.bottomSection {
  max-width: 500px;
  position: absolute;
  bottom: 20px;
  left: 70px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  .heightCover {
    background-color: #ffffff;
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    padding: 30px;
  }
  .bottomSection {
    display: none;
  }
}
