.banner {
  background-image: url('https://img.freepik.com/premium-vector/glowing-power-neon-light-futuristic-energy-storage-high-capacity-rechargeable-lithium-ion-battery-3d-rendering-future-electric-vehicle-clean-energy-technology-concept_115579-1720.jpg');
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 100px);
  background-position: center;
  background-size: cover;
}
.content {
  text-align: left;
  max-width: 700px;
  padding: 200px 0px;
}

@media (max-width: 1700px) {
  .banner {
    height: auto;
  }
}

@media (max-width: 991px) {
  .content {
    padding: 50px 0px;
  }
}
