* {
  font-family: 'Inter Tight' !important;
  margin: 0;
  padding: 0;
}
/* Import the font file */
@font-face {
  font-family: 'Inter Tight';
  src: url('https://example.com/fonts/inter_tight.woff2') format('woff2'); /* Update the URL */
  font-weight: normal;
  font-style: normal;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
body {
  font-family: 'Inter Tight', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}
html {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* body {
  font-family: var(--font-Lato) !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
img {
  width: 100%;
}

:root {
  /*  font-family */
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-Lato: 'Lato', sans-serif;
  /*color and bg-color define  */
  --primary-color: #2ea3f2;
  --color-dark: #333333;
  --color-black: #000000;
  --color-white: #fff;
  /* Define your primary color */
  /* Font-Size in define */
  --fontSizeExtraLarge: 80px;
  --fontSizeLarge: 50px;
  --fontSizeMedium: 40px;
  --fontSizeSmall: 35px;
  --fontSizeExtraSmall: 30px;
  --fontSizeMinSmall: 24px;
  --fontSizeLightSmall: 18px;
  /* font-size and font-weight */
  --fontWeightThin: 100;
  --fontWeightLighter: 200;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightMedium: 500;
  --fontWeightBolder: 600;
  --fontWeightBold: 700;
  --fontWeightExtraBold: 800;
  --fontWeightUltraBold: 900;
}

.spanBlack {
  color: #000000 !important;
}

.spanPrimary {
  color: #2ea3f2;
}

.fontWeightEight {
  font-weight: 800 !important;
}

.fontWeightThree {
  font-weight: 300 !important;
}
.ant-input:-internal-autofill-selected,
.ant-input:hover:-internal-autofill-selected,
.ant-input:focus:-internal-autofill-selected,
.ant-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: #0000 !important;
}
.ant-btn-primary {
  color: #fff !important;
  background: #0a8fdc !important;
  box-shadow: 0 2px 0 rgba(8, 108, 168, 0.15);
  list-style: 32px;
  font-size: 16px;
  font-weight: 700 !important;
}
.ant-btn-default {
  color: #111827 !important;
  background: #fff !important;
  box-shadow: 0 2px 0 rgba(8, 108, 168, 0.15);
  list-style: 32px;
  font-size: 16px;
  font-weight: 300 !important;
}
.topbarSection {
  padding: 80px 0px;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
