.pricing-plans {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 64px;
}

.pricing-card {
  color: #000;
  position: relative;
  min-width: 360px;
  padding: 32px;
  padding-bottom: 96px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
}

.pricing-card.basic {
  color: #000;
}

.pricing-card.standard {
  color: #000;
}

.pricing-card.premium {
  color: #000;
}

.pricing-card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-16px) scale(1.02);
  transition: all 0.9s;
}

.pricing-card > *:not(:last-child) {
  margin-bottom: 32px;
}

.pricing-card .heading h4 {
  padding-bottom: 12px;
  color: #000;
  font-size: 35px;
  font-weight: normal;
}

.pricing-card .heading p {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .price {
  position: relative;
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.pricing-card .price sub {
  position: absolute;
  bottom: 14px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: lighter;
}

.pricing-card .features li {
  padding-bottom: 16px;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: lighter;
  text-align: left;
  display: flex;
  align-items: center;
}

.pricing-card .features li svg,
.pricing-card .features li strong {
  color: #000;
  font-size: 16px;
  text-align: left;
}

.pricing-card .features li strong {
  padding-left: 24px;
  padding-right: 12px;
}

.pricing-card .cta-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #000;
  color: #e4e4e7;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.pricing-card .cta-btn:active {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .pricing-plans {
    display: block;
    width: 100%;
    padding: 25px;
  }
}
