.page-container {
  width: 100%;
}

.left-section {
  border-right: 1px solid #ccc; /* Add border only on the right side */
  padding: 10px; /* Optional: Add padding */
}

.right-section {
  padding: 20px;
}
